$font: Roboto;
$primary-colour: #2196F3;

.container {
  font-family: $font;
}

.widthFs {
  width: 100%;
}

.titleContainer {
  background-color: $primary-colour;
  padding: 20px;
}

.title {
  margin: 0px;
  color: white;
}


.subTitle {
  font-size: 1.6em;
}

.content {
  padding: 20px;
  width: 100%;
}

.flex {
  display: flex;
}

.list {
  li {
    list-style: none;
    margin-bottom: 20px;
  }
}

.iconGroup {
  display: inline;
  margin: auto;

  * {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.btn {
  font-size: 1em;
  background-color: white;
  border: none;
  font-weight: normal;
  color: #858585;
  cursor: pointer;

  &:hover, &:active, &:focus {
    color: black;
  }
}
