.pin {
  max-width: 500px;
  width: 100%;
}

.number {
  font-size: 1.3em;
  color: #c2c2c2;
  font-weight: bold;
  margin-right: 30px;
}

.name {
  font-size: 1.3em;
  font-weight: bold;
}

.state {
  margin-left: auto;
}
