/* Adapted from http://www.iamrohit.in/create-ios-style-switch-toggle-button-in-pure-css/ */

$switchWidth: 50px;
$borderRadius: 60px;

label.switch {
  text-align: left;
  width: $switchWidth;
  height: calc(#{$switchWidth} / 2);
  border-radius: $borderRadius;
  background-color: #4ed164;
  display: inline-block;
  position: relative;
  cursor: pointer;

  > span {
    display: block;
    width: 100%;
    height: 100%;

    border-radius: $borderRadius;

    &:before, &:after {
      content: "";
      cursor: pointer;
      position: absolute;
    }

    &:before {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      background-color: #f1f1f1;
      border-radius: $borderRadius;
      transition: opacity .2s ease-out .1s, transform .2s ease-out .1s;
      transform: scale(1);
      opacity: 1;
    }

    &:after {
      top: 50%;
      z-index: 3;
      transition: transform .4s cubic-bezier(0.44,-0.12, 0.07, 1.15);
      width: calc(#{$switchWidth} / 2);
      height: calc(#{$switchWidth} / 2);
      transform: translate3d(0, -50%, 0);
      background-color: #fff;
      border-radius: 100%;
      box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    }
  }

  > input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 4;

    &:focus ~ span {
      box-shadow: 0 0 0 4px #43b556;
    }

    &:checked:focus ~ span {
      box-shadow: 0 0 0 4px #fff;
    }

    &:checked ~ span:before {
      transform: scale(0);
      opacity: .7;
    }

    &:checked ~ span:after {
      transform: translate3d(100%, -50%, 0);
    }
  }
}

